html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

img {
    border: 0;
}

#wrapper {
    border: 2px solid #999;
    border-radius: 10px;
    height: 550px;
    margin: 20px auto;
    width: 650px;
}

#header {
    margin: 10px;
}

#btns {
	margin-left: 10px;
}

#btns span, 
#btns div {
    display: inline-block;
}

#btns span {
    height: 48px;
    margin: 3px;
    width: 48px;
}

.btn {
    background-image: url("../img/icons.png");
    background-repeat: no-repeat;
    border: 1px solid #666;
    border-radius: 10px;
}

.btn:hover {
    background-color: #EEE;
    cursor: pointer;
}

#file-open { background-position: 0 0; }
#prev { background-position: -48px 0; }
#play { background-position: -240px 0; }
#next { background-position: -96px 0; }
#shuffle { background-position: -192px 0; }

#select-file {
    display: none;
}

#vol { 
    background-image: url("../img/icons.png");
    background-repeat: no-repeat;
    background-position: -288px 0;
    height: 32px;
    left: 80px;
    position: relative;
    top: 10px;
    width: 32px;
}

#vol-slider {
    background: none;
    cursor: pointer;
    left: 80px;
    position: relative;
    top: 10px;
    width: 200px;
    -webkit-appearance: none;
}

#vol-slider::-webkit-slider-runnable-track {
    background: #ddd;
    border: none;
    border-radius: 3px;
    height: 5px;
}

#vol-slider::-ms-track {
    background: #ddd;
    border: none;
    border-radius: 3px;
    height: 5px;
}

#vol-slider::-moz-range-track {
    background: #ddd;
    border: none;
    border-radius: 3px;
    height: 5px;
}

#vol-slider::-webkit-slider-thumb {
    background: #555;
    border: none;
    border-radius: 50%;
    height: 16px;
    margin-top: -5px;
    position: relative;
    width: 16px;
    -webkit-appearance: none;
}

#vol-slider::-ms-thumb {
    background: #555;
    border: none;
    border-radius: 50%;
    height: 16px;
    margin-top: -5px;
    position: relative;
    width: 16px;
    -webkit-appearance: none;
}

#vol-slider::-moz-range-thumb {
    background: #555;
    border: none;
    border-radius: 50%;
    height: 16px;
    margin-top: -5px;
    position: relative;
    width: 16px;
    -webkit-appearance: none;
}

#vol-slider:focus {
    outline: none;
}

#vol-slider:focus::-webkit-slider-thumb:after {
  position: absolute;
  top: -35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #eee;
  border-radius: 5px;
  color: #555;
  padding: 5px 10px;
  border: 2px solid #555;
}

#vol-slider:focus::-ms-thumb:after {
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  background: #eee;
  border-radius: 5px;
  color: #555;
  padding: 5px 10px;
  border: 2px solid #555;
}

#vol-slider:focus::-moz-range-thumb:after {
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  background: #eee;
  border-radius: 5px;
  color: #555;
  padding: 5px 10px;
  border: 2px solid #555;
}

#tooltip {
   border-radius: 6px;
   font-size: 9px;
   height: 15px;
   position: relative;
   text-align: center;
   top: -15px;
   width: 35px;
}

#tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-color: #CCC transparent transparent transparent;
}

#song-progress {
	background-color: #E9E9E9;
	cursor: pointer;
    height: 20px;
    margin: 10px;
    width: 97%;
}

#song-bar {
	background-color: #CCC;
	height: 20px;
	width: 0;
}

#song-time {
    position: relative;
    right: 10px;
    text-align: right;
}

#content {
    height: 300px;
    margin: 10px;
    max-height: 300px;
    overflow-y: auto;
}

#footer {
    text-align: center;
}

.songs {
    cursor: pointer;
}

.playing {
    background-color: #D8BFD8;
}
